@tailwind base;
@tailwind components;
@tailwind utilities;

/* ResetCss */

body {
    cursor: default;
    overflow: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


a {
    text-decoration: none;
    color: inherit;
}


button {
    cursor: pointer;
}

button,
textarea,
input {
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    border: none;
    background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* Header-DropDown Menu */
.dropdown-menu {
    opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
  }
.dropdown-menu.active {
    opacity: 1;
    pointer-events: auto;
  }