@tailwind base;
@tailwind components;
@tailwind utilities;

/* ResetCss */

body {
    cursor: default;
    overflow: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


a {
    text-decoration: none;
    color: inherit;
}


button {
    cursor: pointer;
}
button,
textarea,
input {
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    border: none;
    background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* Header-DropDown Menu */
.dropdown-menu {
    opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
  }
.dropdown-menu.active {
    opacity: 1;
    pointer-events: auto;
  }

/* 스크롤바 */
::-webkit-scrollbar {
  width: 4px; /* 스크롤바 너비 */
}

/* 스크롤바를 감싸는 전체 영역 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 트랙의 배경색을 투명하게 */
}

/* 스크롤바 그림자 */
::-webkit-scrollbar-track-piece {
  background-color: transparent; /* 트랙의 색상을 투명하게 */
}

/* 스크롤바 핸들(실질적인 스크롤 가능한 부분) */
::-webkit-scrollbar-thumb {
  background-color: #776B5D; /* 스크롤바의 색상 */
  border-radius: 2px; /* 스크롤바 모양을 둥글게 만들기 위해 */
}

/* 마우스 호버 시 스크롤바 핸들 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background-color: #B0A695; /* 스크롤바에 호버될 때의 색상 */
}

/* 화살표 버튼 감추기 */
::-webkit-scrollbar-button {
  display: none;
}

/* 코너 (오른쪽 하단) 감추기 */
::-webkit-scrollbar-corner {
  display: none;
}
/* Banner animation */
@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 300ms ease-out;
}